{% extends "base.html" %}
{% block title %} Context Words {% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
<table class="table">
  <thead>
    <tr>
      <th>Займенники</th>
      <th>Прислівники</th>
      <th>Вставні слова</th>
      <th>Важливі слова 1</th>
      <th>Важливі слова 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        I (я)<br>
        You (ти/ви)<br>
        He (він)<br>
        She (вона)<br>
        It (воно)<br>
        We (ми)<br>
        They (вони)
      </td>
      <td>
        Here (тут)<br>
        There (там)<br>
        Everywhere (скрізь)<br>
        Nowhere (ніде)
      </td>
      <td>
        Also (також)<br>
        Too (теж)<br>
        As well (також)<br>
        Besides (крім того)
      </td>
      <td>
        Good (добрий)<br>
        Bad (поганий)<br>
        Big (великий)<br>
        Small (малий)
      </td>
      <td>
        Love (любов)<br>
        Hate (ненависть)<br>
        Happy (щасливий)<br>
        Sad (сумний)
      </td>
    </tr>
    <tr>
      <td>
        This (цей/ця/це)<br>
        That (той/та/те)<br>
        These (ці)<br>
        Those (ті)
      </td>
      <td>
        Quickly (швидко)<br>
        Slowly (повільно)<br>
        Well (добре)<br>
        Badly (погано)
      </td>
      <td>
        For example (наприклад)<br>
        For instance (наприклад)<br>
        Such as (такі як)
      </td>
      <td>
        Beautiful (красивий)<br>
        Interesting (цікавий)<br>
        Important (важливий)<br>
        Funny (смішний)
      </td>
      <td>
        Friend (друг)<br>
        Family (родина)<br>
        Work (робота)<br>
        School (школа)
      </td>
    </tr>
    <tr>
      <td>
        Nobody (ніхто)<br>
        Nothing (ніщо)<br>
        No one (ніхто)<br>
        None (жоден/жодна/жодне)
      </td>
      <td>
        Today (сьогодні)<br>
        Tomorrow (завтра)<br>
        Yesterday (вчора)<br>
        Soon (скоро)<br>
        Already (вже)
      </td>
      <td>
        Furthermore (крім того)<br>
        Moreover (більш того)<br>
        Additionally (додатково)
      </td>
      <td>
        Best (найкращий)<br>
        Great (великий)<br>
        Amazing (дивовижний)<br>
        Wonderful (чудовий)
      </td>
      <td>
        Time (час)<br>
        Money (гроші)<br>
        Help (допомога)<br>
        Problem (проблема)
      </td>
    </tr>
    <tr>
      <td>
        Who (хто)<br>
        Whom (кому)<br>
        Whose (чий)<br>
        What (що)<br>
        Which (який)
      </td>
      <td>
        Very (дуже)<br>
        Quite (досить)<br>
        Too (занадто)<br>
        Extremely (надзвичайно)<br>
        Enough (достатньо)
      </td>
      <td>
        In general (взагалі)<br>
        Generally (загалом)<br>
        Overall (в цілому)
      </td>
      <td>
        Easy (легкий)<br>
        Difficult (складний)<br>
        Perfect (ідеальний)<br>
        Fun (веселий)
      </td>
      <td>
        Water (вода)<br>
        Food (їжа)<br>
        Home (дім)<br>
        Travel (подорож)
      </td>
    </tr>
    <tr>
      <td>
        Somebody (хтось)<br>
        Something (щось)<br>
        Someone (хтось)<br>
        Some (деякі)<br>
        Any (будь-які)<br>
        Anyone (будь-хто)<br>
        Anybody (будь-хто)<br>
        Anything (будь-що)<br>
        Each (кожний)<br>
        Either (або один)<br>
        Neither (ні один)<br>
        Both (обидва)
      </td>
      <td>
        More (більше)<br>
        Less (менше)<br>
        Better (краще)<br>
        Worse (гірше)<br>
        As (так само)<br>
        Than (ніж)
      </td>
      <td>
        In conclusion (висновок)<br>
        To sum up (підсумовуючи)<br>
        Finally (нарешті)<br>
        Ultimately (в кінці)
      </td>
      <td>
        Happy (щасливий)<br>
        Sad (сумний)<br>
        Interesting (цікавий)<br>
        Exciting (захоплюючий)
      </td>
      <td>
        Love (любов)<br>
        Money (гроші)<br>
        Time (час)<br>
        World (світ)
      </td>
    </tr>
  </tbody>
</table>

    </div>
  </div>
</div>
{% endblock %}