{% extends "base.html" %}
{% block title %} Popular Words {% endblock %}
{% block content %}

<div class="tableContainer b-example-divider">
  <div class="table">
    <div class="row">
      <div class="col-md-4">
        <h2>100 найпопулярніших іменників</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Англійською</th>
              <th>Українською</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>time</td>
              <td>час</td>
            </tr>
            <tr>
              <td>information</td>
              <td>інформація</td>
            </tr>
            <tr>
              <td>people</td>
              <td>люди</td>
            </tr>
            <tr>
              <td>thing</td>
              <td>річ</td>
            </tr>
            <tr>
              <td>community</td>
              <td>спільнота</td>
            </tr>
            <tr>
              <td>man</td>
              <td>чоловік</td>
            </tr>
            <tr>
              <td>woman</td>
              <td>жінка</td>
            </tr>
            <tr>
              <td>way</td>
              <td>шлях</td>
            </tr>
            <tr>
              <td>life</td>
              <td>життя</td>
            </tr>
            <tr>
              <td>child</td>
              <td>дитина</td>
            </tr>
            <tr>
              <td>world</td>
              <td>світ</td>
            </tr>
            <tr>
              <td>school</td>
              <td>школа</td>
            </tr>
            <tr>
              <td>state</td>
              <td>держава</td>
            </tr>
            <tr>
              <td>family</td>
              <td>родина</td>
            </tr>
            <tr>
              <td>student</td>
              <td>студент</td>
            </tr>
            <tr>
              <td>group</td>
              <td>група</td>
            </tr>
            <tr>
              <td>country</td>
              <td>країна</td>
            </tr>
            <tr>
              <td>problem</td>
              <td>проблема</td>
            </tr>
            <tr>
              <td>hand</td>
              <td>рука</td>
            </tr>
            <tr>
              <td>part</td>
              <td>частина</td>
            </tr>
            <tr>
              <td>place</td>
              <td>місце</td>
            </tr>
            <tr>
              <td>case</td>
              <td>справа</td>
            </tr>
            <tr>
              <td>week</td>
              <td>тиждень</td>
            </tr>
            <tr>
              <td>company</td>
              <td>компанія</td>
            </tr>
            <tr>
              <td>system</td>
              <td>система</td>
            </tr>
            <tr>
              <td>program</td>
              <td>програма</td>
            </tr>
            <tr>
              <td>question</td>
              <td>запитання</td>
            </tr>
            <tr>
              <td>work</td>
              <td>робота</td>
            </tr>
            <tr>
              <td>government</td>
              <td>уряд</td>
            </tr>
            <tr>
              <td>number</td>
              <td>число</td>
            </tr>
            <tr>
              <td>member</td>
              <td>учасник</td>
            </tr>
            <tr>
              <td>law</td>
              <td>закон</td>
            </tr>
            <tr>
              <td>city</td>
              <td>місто</td>
            </tr>
            <tr>
              <td>day</td>
              <td>день</td>
            </tr>
            <tr>
              <td>name</td>
              <td>ім'я</td>
            </tr>
            <tr>
              <td>president</td>
              <td>президент</td>
            </tr>
            <tr>
              <td>team</td>
              <td>команда</td>
            </tr>
            <tr>
              <td>minute</td>
              <td>хвилина</td>
            </tr>
            <tr>
              <td>idea</td>
              <td>ідея</td>
            </tr>
            <tr>
              <td>kids</td>
              <td>діти</td>
            </tr>
            <tr>
              <td>body</td>
              <td>тіло</td>
            </tr>
            <tr>
              <td>year</td>
              <td>рік</td>
            </tr>
            <tr>
              <td>back</td>
              <td>назад</td>
            </tr>
            <tr>
              <td>parents</td>
              <td>батьки</td>
            </tr>
            <tr>
              <td>research</td>
              <td>дослідження</td>
            </tr>
            <tr>
              <td>girl</td>
              <td>дівчина</td>
            </tr>
            <tr>
              <td>guy</td>
              <td>хлопець</td>
            </tr>
            <tr>
              <td>teacher</td>
              <td>вчитель</td>
            </tr>
            <tr>
              <td>night</td>
              <td>ніч</td>
            </tr>
            <tr>
              <td>point</td>
              <td>точка</td>
            </tr>
            <tr>
              <td>home</td>
              <td>дім</td>
            </tr>
            <tr>
              <td>water</td>
              <td>вода</td>
            </tr>
            <tr>
              <td>room</td>
              <td>кімната</td>
            </tr>
            <tr>
              <td>mother</td>
              <td>матір</td>
            </tr>
            <tr>
              <td>area</td>
              <td>площа</td>
            </tr>
            <tr>
              <td>money</td>
              <td>гроші</td>
            </tr>
            <tr>
              <td>story</td>
              <td>історія</td>
            </tr>
            <tr>
              <td>fact</td>
              <td>факт</td>
            </tr>
            <tr>
              <td>month</td>
              <td>місяць</td>
            </tr>
            <tr>
              <td>lot</td>
              <td>багато</td>
            </tr>
            <tr>
              <td>right</td>
              <td>правильно</td>
            </tr>
            <tr>
              <td>study</td>
              <td>вивчення</td>
            </tr>
            <tr>
              <td>book</td>
              <td>книга</td>
            </tr>
            <tr>
              <td>force</td>
              <td>сила</td>
            </tr>
            <tr>
              <td>education</td>
              <td>освіта</td>
            </tr>
            <tr>
              <td>eye</td>
              <td>око</td>
            </tr>
            <tr>
              <td>job</td>
              <td>робота</td>
            </tr>
            <tr>
              <td>word</td>
              <td>слово</td>
            </tr>
            <tr>
              <td>business</td>
              <td>бізнес</td>
            </tr>
            <tr>
              <td>side</td>
              <td>сторона</td>
            </tr>
            <tr>
              <td>kind</td>
              <td>доброзичливий</td>
            </tr>
            <tr>
              <td>head</td>
              <td>голова</td>
            </tr>
            <tr>
              <td>service</td>
              <td>сервіс</td>
            </tr>
            <tr>
              <td>friend</td>
              <td>друг</td>
            </tr>
            <tr>
              <td>father</td>
              <td>батько</td>
            </tr>
            <tr>
              <td>power</td>
              <td>сила</td>
            </tr>
            <tr>
              <td>hour</td>
              <td>година</td>
            </tr>
            <tr>
              <td>game</td>
              <td>гра</td>
            </tr>
            <tr>
              <td>line</td>
              <td>лінія</td>
            </tr>
            <tr>
              <td>end</td>
              <td>кінець</td>
            </tr>
            <tr>
              <td>face</td>
              <td>лице</td>
            </tr>
            <tr>
              <td>others</td>
              <td>інші</td>
            </tr>
            <tr>
              <td>level</td>
              <td>рівень</td>
            </tr>
            <tr>
              <td>office</td>
              <td>офіс</td>
            </tr>
            <tr>
              <td>door</td>
              <td>двері</td>
            </tr>
            <tr>
              <td>health</td>
              <td>здоров'я</td>
            </tr>
            <tr>
              <td>person</td>
              <td>особистість</td>
            </tr>
            <tr>
              <td>art</td>
              <td>мистецтво</td>
            </tr>
            <tr>
              <td>war</td>
              <td>війна</td>
            </tr>
            <tr>
              <td>history</td>
              <td>історія</td>
            </tr>
            <tr>
              <td>party</td>
              <td>вечірка</td>
            </tr>
            <tr>
              <td>result</td>
              <td>результат</td>
            </tr>
            <tr>
              <td>change</td>
              <td>зміна</td>
            </tr>
            <tr>
              <td>morning</td>
              <td>ранок</td>
            </tr>
            <tr>
              <td>moment</td>
              <td>момент</td>
            </tr>
            <tr>
              <td>air</td>
              <td>повітря</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>100 найпопулярніших прикметників</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Англійською</th>
              <th>Українською</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>other</td>
              <td>інші</td>
            </tr>
            <tr>
              <td>international</td>
              <td>міжнародний</td>
            </tr>
            <tr>
              <td>good</td>
              <td>добре</td>
            </tr>
            <tr>
              <td>high</td>
              <td>високий</td>
            </tr>
            <tr>
              <td>old</td>
              <td>старий</td>
            </tr>
            <tr>
              <td>great</td>
              <td>чудово</td>
            </tr>
            <tr>
              <td>big</td>
              <td>великий</td>
            </tr>
            <tr>
              <td>American</td>
              <td>американець</td>
            </tr>
            <tr>
              <td>large</td>
              <td>великий</td>
            </tr>
            <tr>
              <td>national</td>
              <td>національний</td>
            </tr>
            <tr>
              <td>young</td>
              <td>молодий</td>
            </tr>
            <tr>
              <td>different</td>
              <td>різні</td>
            </tr>
            <tr>
              <td>black</td>
              <td>чорний</td>
            </tr>
            <tr>
              <td>long</td>
              <td>довгий</td>
            </tr>
            <tr>
              <td>little</td>
              <td>маленький</td>
            </tr>
            <tr>
              <td>important</td>
              <td>важливий</td>
            </tr>
            <tr>
              <td>political</td>
              <td>політичний</td>
            </tr>
            <tr>
              <td>bad</td>
              <td>поганий</td>
            </tr>
            <tr>
              <td>white</td>
              <td>білий</td>
            </tr>
            <tr>
              <td>real</td>
              <td>реальний</td>
            </tr>
            <tr>
              <td>best</td>
              <td>найкраще</td>
            </tr>
            <tr>
              <td>right</td>
              <td>правий</td>
            </tr>
            <tr>
              <td>social</td>
              <td>соціальний</td>
            </tr>
            <tr>
              <td>only</td>
              <td>тільки</td>
            </tr>
            <tr>
              <td>public</td>
              <td>публічно</td>
            </tr>
            <tr>
              <td>sure</td>
              <td>впевнено</td>
            </tr>
            <tr>
              <td>low</td>
              <td>низький</td>
            </tr>
            <tr>
              <td>early</td>
              <td>рано</td>
            </tr>
            <tr>
              <td>able</td>
              <td>здатний</td>
            </tr>
            <tr>
              <td>human</td>
              <td>людина</td>
            </tr>
            <tr>
              <td>local</td>
              <td>місцевий</td>
            </tr>
            <tr>
              <td>late</td>
              <td>пізно</td>
            </tr>
            <tr>
              <td>hard</td>
              <td>тяжко</td>
            </tr>
            <tr>
              <td>major</td>
              <td>важливіший</td>
            </tr>
            <tr>
              <td>better</td>
              <td>краще</td>
            </tr>
            <tr>
              <td>economic</td>
              <td>економний</td>
            </tr>
            <tr>
              <td>strong</td>
              <td>сильний</td>
            </tr>
            <tr>
              <td>possible</td>
              <td>можливий</td>
            </tr>
            <tr>
              <td>whole</td>
              <td>цілий</td>
            </tr>
            <tr>
              <td>free</td>
              <td>вільний</td>
            </tr>
            <tr>
              <td>military</td>
              <td>військовий</td>
            </tr>
            <tr>
              <td>true</td>
              <td>правдивий</td>
            </tr>
            <tr>
              <td>federal</td>
              <td>федеральний</td>
            </tr>
            <tr>
              <td>new</td>
              <td>новий</td>
            </tr>
            <tr>
              <td>full</td>
              <td>повний</td>
            </tr>
            <tr>
              <td>special</td>
              <td>спеціальний</td>
            </tr>
            <tr>
              <td>easy</td>
              <td>легкий</td>
            </tr>
            <tr>
              <td>traditional</td>
              <td>традиційний</td>
            </tr>
            <tr>
              <td>cultural</td>
              <td>культурний</td>
            </tr>
            <tr>
              <td>clear</td>
              <td>чистий</td>
            </tr>
            <tr>
              <td>recent</td>
              <td>нещодавно</td>
            </tr>
            <tr>
              <td>certain</td>
              <td>певний</td>
            </tr>
            <tr>
              <td>personal</td>
              <td>персональний</td>
            </tr>
            <tr>
              <td>open</td>
              <td>відкритий</td>
            </tr>
            <tr>
              <td>difficult</td>
              <td>важкий</td>
            </tr>
            <tr>
              <td>available</td>
              <td>доступний</td>
            </tr>
            <tr>
              <td>likely</td>
              <td>швидше за все</td>
            </tr>
            <tr>
              <td>short</td>
              <td>короткий</td>
            </tr>
            <tr>
              <td>single</td>
              <td>одинокий</td>
            </tr>
            <tr>
              <td>medical</td>
              <td>медичний</td>
            </tr>
            <tr>
              <td>current</td>
              <td>сучасний</td>
            </tr>
            <tr>
              <td>wrong</td>
              <td>неправильний</td>
            </tr>
            <tr>
              <td>private</td>
              <td>приватний</td>
            </tr>
            <tr>
              <td>past</td>
              <td>минулий</td>
            </tr>
            <tr>
              <td>foreign</td>
              <td>іноземний</td>
            </tr>
            <tr>
              <td>fine</td>
              <td>добре</td>
            </tr>
            <tr>
              <td>common</td>
              <td>загальний</td>
            </tr>
            <tr>
              <td>poor</td>
              <td>бідний</td>
            </tr>
            <tr>
              <td>natural</td>
              <td>природній</td>
            </tr>
            <tr>
              <td>significant</td>
              <td>значний</td>
            </tr>
            <tr>
              <td>similar</td>
              <td>подібний</td>
            </tr>
            <tr>
              <td>hot</td>
              <td>гарячий</td>
            </tr>
            <tr>
              <td>dead</td>
              <td>мертвий</td>
            </tr>
            <tr>
              <td>central</td>
              <td>центральний</td>
            </tr>
            <tr>
              <td>happy</td>
              <td>щасливий</td>
            </tr>
            <tr>
              <td>serious</td>
              <td>серйозний</td>
            </tr>
            <tr>
              <td>ready</td>
              <td>готовий</td>
            </tr>
            <tr>
              <td>simple</td>
              <td>простий</td>
            </tr>
            <tr>
              <td>left</td>
              <td>лівий</td>
            </tr>
            <tr>
              <td>physical</td>
              <td>фізичний</td>
            </tr>
            <tr>
              <td>general</td>
              <td>загальний</td>
            </tr>
            <tr>
              <td>environmental</td>
              <td>екологічний</td>
            </tr>
            <tr>
              <td>financial</td>
              <td>фінансовий</td>
            </tr>
            <tr>
              <td>blue</td>
              <td>синій</td>
            </tr>
            <tr>
              <td>democratic</td>
              <td>демократичний</td>
            </tr>
            <tr>
              <td>dark</td>
              <td>темний</td>
            </tr>
            <tr>
              <td>various</td>
              <td>різноманітний</td>
            </tr>
            <tr>
              <td>entire</td>
              <td>цілком</td>
            </tr>
            <tr>
              <td>close</td>
              <td>близький</td>
            </tr>
            <tr>
              <td>legal</td>
              <td>законний</td>
            </tr>
            <tr>
              <td>religious</td>
              <td>релігійний</td>
            </tr>
            <tr>
              <td>cold</td>
              <td>холодний</td>
            </tr>
            <tr>
              <td>final</td>
              <td>фінальний</td>
            </tr>
            <tr>
              <td>main</td>
              <td>головний</td>
            </tr>
            <tr>
              <td>nice</td>
              <td>гарний</td>
            </tr>
            <tr>
              <td>huge</td>
              <td>великий</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <h2>100 найпопулярніших дієслів</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Англійською</th>
              <th>Українською</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>be</td>
              <td>бути</td>
            </tr>
            <tr>
              <td>have</td>
              <td>мати</td>
            </tr>
            <tr>
              <td>do</td>
              <td>робити</td>
            </tr>
            <tr>
              <td>say</td>
              <td>казати</td>
            </tr>
            <tr>
              <td>go</td>
              <td>йти</td>
            </tr>
            <tr>
              <td>can</td>
              <td>могти</td>
            </tr>
            <tr>
              <td>get</td>
              <td>отримувати</td>
            </tr>
            <tr>
              <td>would</td>
              <td>би</td>
            </tr>
            <tr>
              <td>make</td>
              <td>робити</td>
            </tr>
            <tr>
              <td>know</td>
              <td>знати</td>
            </tr>
            <tr>
              <td>will</td>
              <td>бажати</td>
            </tr>
            <tr>
              <td>think</td>
              <td>думати</td>
            </tr>
            <tr>
              <td>take</td>
              <td>брати</td>
            </tr>
            <tr>
              <td>see</td>
              <td>бачити</td>
            </tr>
            <tr>
              <td>come</td>
              <td>приходити</td>
            </tr>
            <tr>
              <td>could</td>
              <td>могти</td>
            </tr>
            <tr>
              <td>want</td>
              <td>хотіти</td>
            </tr>
            <tr>
              <td>look</td>
              <td>дивитися</td>
            </tr>
            <tr>
              <td>use</td>
              <td>використовувати</td>
            </tr>
            <tr>
              <td>find</td>
              <td>знаходити</td>
            </tr>
            <tr>
              <td>give</td>
              <td>діставати</td>
            </tr>
            <tr>
              <td>tell</td>
              <td>казати</td>
            </tr>
            <tr>
              <td>work</td>
              <td>працювати</td>
            </tr>
            <tr>
              <td>may</td>
              <td>могти</td>
            </tr>
            <tr>
              <td>should</td>
              <td>повинен</td>
            </tr>
            <tr>
              <td>call</td>
              <td>дзвонити</td>
            </tr>
            <tr>
              <td>try</td>
              <td>пробувати</td>
            </tr>
            <tr>
              <td>ask</td>
              <td>запитувати</td>
            </tr>
            <tr>
              <td>need</td>
              <td>потребувати</td>
            </tr>
            <tr>
              <td>feel</td>
              <td>почувати</td>
            </tr>
            <tr>
              <td>become</td>
              <td>ставати</td>
            </tr>
            <tr>
              <td>leave</td>
              <td>залишати</td>
            </tr>
            <tr>
              <td>put</td>
              <td>класти</td>
            </tr>
            <tr>
              <td>mean</td>
              <td>означати</td>
            </tr>
            <tr>
              <td>keep</td>
              <td>зберігати</td>
            </tr>
            <tr>
              <td>let</td>
              <td>дозволяти</td>
            </tr>
            <tr>
              <td>begin</td>
              <td>починати</td>
            </tr>
            <tr>
              <td>seem</td>
              <td>здається</td>
            </tr>
            <tr>
              <td>help</td>
              <td>допомагати</td>
            </tr>
            <tr>
              <td>talk</td>
              <td>говорити</td>
            </tr>
            <tr>
              <td>turn</td>
              <td>повернути</td>
            </tr>
            <tr>
              <td>start</td>
              <td>почати</td>
            </tr>
            <tr>
              <td>might</td>
              <td>могти</td>
            </tr>
            <tr>
              <td>show</td>
              <td>показувати</td>
            </tr>
            <tr>
              <td>hear</td>
              <td>чути</td>
            </tr>
            <tr>
              <td>play</td>
              <td>грати</td>
            </tr>
            <tr>
              <td>kill</td>
              <td>вбивати</td>
            </tr>
            <tr>
              <td>cut</td>
              <td>різати</td>
            </tr>
            <tr>
              <td>reach</td>
              <td>досягати</td>
            </tr>
            <tr>
              <td>run</td>
              <td>бігти</td>
            </tr>
            <tr>
              <td>move</td>
              <td>рухатися</td>
            </tr>
            <tr>
              <td>like</td>
              <td>подобатися</td>
            </tr>
            <tr>
              <td>live</td>
              <td>жити</td>
            </tr>
            <tr>
              <td>believe</td>
              <td>вірити</td>
            </tr>
            <tr>
              <td>hold</td>
              <td>триматися</td>
            </tr>
            <tr>
              <td>bring</td>
              <td>приносити</td>
            </tr>
            <tr>
              <td>happen</td>
              <td>траплятися</td>
            </tr>
            <tr>
              <td>must</td>
              <td>мусити</td>
            </tr>
            <tr>
              <td>write</td>
              <td>писати</td>
            </tr>
            <tr>
              <td>provide</td>
              <td>забезпечити</td>
            </tr>
            <tr>
              <td>sit</td>
              <td>сидіти</td>
            </tr>
            <tr>
              <td>lose</td>
              <td>програвати</td>
            </tr>
            <tr>
              <td>pay</td>
              <td>платити</td>
            </tr>
            <tr>
              <td>include</td>
              <td>включати</td>
            </tr>
            <tr>
              <td>continue</td>
              <td>продовжувати</td>
            </tr>
            <tr>
              <td>set</td>
              <td>встановлювати</td>
            </tr>
            <tr>
              <td>learn</td>
              <td>вивчати</td>
            </tr>
            <tr>
              <td>change</td>
              <td>змінювати</td>
            </tr>
            <tr>
              <td>lead</td>
              <td>приводити</td>
            </tr>
            <tr>
              <td>understand</td>
              <td>розуміти</td>
            </tr>
            <tr>
              <td>watch</td>
              <td>дивитися</td>
            </tr>
            <tr>
              <td>follow</td>
              <td>наслідувати</td>
            </tr>
            <tr>
              <td>stop</td>
              <td>зупиняти</td>
            </tr>
            <tr>
              <td>create</td>
              <td>створювати</td>
            </tr>
            <tr>
              <td>speak</td>
              <td>говорити</td>
            </tr>
            <tr>
              <td>read</td>
              <td>читати</td>
            </tr>
            <tr>
              <td>allow</td>
              <td>дозволяти</td>
            </tr>
            <tr>
              <td>add</td>
              <td>додавати</td>
            </tr>
            <tr>
              <td>spend</td>
              <td>витрачати</td>
            </tr>
            <tr>
              <td>grow</td>
              <td>рости</td>
            </tr>
            <tr>
              <td>walk</td>
              <td>гуляти</td>
            </tr>
            <tr>
              <td>win</td>
              <td>перемагати</td>
            </tr>
            <tr>
              <td>offer</td>
              <td>пропонувати</td>
            </tr>
            <tr>
              <td>remember</td>
              <td>пам'ятати</td>
            </tr>
            <tr>
              <td>love</td>
              <td>любити</td>
            </tr>
            <tr>
              <td>consider</td>
              <td>розглядати</td>
            </tr>
            <tr>
              <td>appear</td>
              <td>з'являтися</td>
            </tr>
            <tr>
              <td>buy</td>
              <td>купувати</td>
            </tr>
            <tr>
              <td>wait</td>
              <td>чекати</td>
            </tr>
            <tr>
              <td>serve</td>
              <td>служити</td>
            </tr>
            <tr>
              <td>die</td>
              <td>помирати</td>
            </tr>
            <tr>
              <td>send</td>
              <td>відправляти</td>
            </tr>
            <tr>
              <td>expect</td>
              <td>очікувати</td>
            </tr>
            <tr>
              <td>build</td>
              <td>будувати</td>
            </tr>
            <tr>
              <td>stay</td>
              <td>залишатися</td>
            </tr>
            <tr>
              <td>fall</td>
              <td>падати</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}