{% extends "base.html" %}
{% block title %} Talkative {% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Verbs</h2>
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Verb</th>
                  <th>Past Simple</th>
                  <th>Past Participle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>be</td>
                  <td>was</td>
                  <td>been</td>
                </tr>
                <tr>
                  <td>beat</td>
                  <td>beat</td>
                  <td>beaten</td>
                </tr>
                <!-- Додайте решту слів тут -->
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Verb</th>
                  <th>Translation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>be</td>
                  <td>бути</td>
                </tr>
                <tr>
                  <td>beat</td>
                  <td>бити</td>
                </tr>
                <!-- Додайте решту перекладів тут -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Verb</th>
                  <th>Past Simple</th>
                  <th>Past Participle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>be</td>
                  <td>was</td>
                  <td>been</td>
                </tr>
                <tr>
                  <td>beat</td>
                  <td>beat</td>
                  <td>beaten</td>
                </tr>
                <!-- Додайте решту слів тут -->
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Verb</th>
                  <th>Translation</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>be</td>
                  <td>бути</td>
                </tr>
                <tr>
                  <td>beat</td>
                  <td>бити</td>
                </tr>
                <!-- Додайте решту перекладів тут -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
